/* 
   Coding Portfolio style sheet 
   Filename: styles.css

   Author:   Arjun Pramanik
   Date:     10 May 2025
 */

/* reset styles */
html {
   font-size: 16px;
}
article, div, figcaption, figure, footer, h1, h2, h3, header, nav, p, li, ul {
   border: 0;
   padding: 0;
   margin: 0;
}
img {
   max-width: 100%;
   height: auto;
   width: auto;
}
ul {
   list-style-type: none;
}

/* document-wide styles */
body {
   margin: 0 auto;
   font-family: 'JetBrains Mono', 'Times New Roman', Times, serif;
   max-width: 100em;
   border-left: 2px solid #fff;
   border-right: 2px solid #fff;
   border-bottom: 2px solid #fff;
   background-color: #1a1a1a;
   box-shadow: 0 10px 6px -6px #cbf7ff;
}
p {
   font-family: 'Bitter', 'Times New Roman', Times, serif;
   font-size: 14px;
}

/* skip navigation link */
p.skipnavigation a {
   position: absolute;
   left: -100px;
}
p.skipnavigation a:focus {
   z-index: 2;
}

/* header section */
h1 {
   text-align: center;
   font-weight: 500;
   background-color: rgb(231, 231, 231);
   font-size: 2em;
}

/* site navigation bar */
nav.sitenavigation {
   text-align: center;
   background-color: lightblue;
}
nav.sitenavigation p {
   margin: 0.5em 0.5em;
   display:inline-block;
   font-weight: 700;
   font-size: 16px;
}
nav.sitenavigation a:link {
   color: rgb(41, 41, 41);
}
nav.sitenavigation a:visited {
   color: #0011ff;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus{
   color: white;
}

/* main content */
article {
   margin: 0 auto;
   padding: 1.4em;
   background: #122666;
   background: url("images/background.jpg");
   background-size: 2000px;
}
article div {
   max-width: 800px;
   margin: 0 auto;
   padding: 1em 3% 1em;
   background-color: rgb(165, 223, 247);
   overflow: auto;
   opacity: 75%;
   border-radius: 10px;
}
h2 {
   padding: 0.4em 0 0.4em;
   font-size: 1.6em;
   font-weight: 800px;
}
h3 {
   padding: 0.4em 0;
   font-size: 1.2em;
   font-weight: 800px;
   clear: both;
}
article p {
   padding: 0.4em 0;
}
article figcaption {
   text-align: center;
}
article figure {
   max-width: 40%;
   float: right;
}
aside {
   background-color: lightblue;
   color: #000;
   padding: 1em 0;
}
aside p {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   padding: 0.4em 0.4em;
   margin: 0 0.6em;
   text-align: center;
}
ul, ol {
   margin-top: 0em;
}
ul li {
   margin-left: 10px;
   list-style-type: circle;
}
ol li{
   margin-left: 10px;
}
.italic{
   font-style: italic;
}
.bold {
   font-weight: bold;
}
.underline {
   text-decoration: underline;
}

/* footer section */
footer {
   padding: 0.6em;
   text-align: center;
   background-color: rgb(231, 231, 231);
}
footer img {
   max-width: 8px;
}
footer p {
   font-family: 'JetBrains Mono', 'Times New Roman', Times, serif;
}

/* print styles */
@media print {
   body, h1, article, footer {
      color: rgb(0,0,0);
      background: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 0.75in;
}