<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    
    <script defer data-domain="capybarista.github.io" 
            src="https://plausible.capybarista.duckdns.org/js/script.js">
    </script>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <header>
        </header>

    <main>
        {{ content }}
    </main>

    <footer>
        </footer>

</body>
</html>